<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.name" />
		</td>
		<td>
		{condominium.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.street" />
		</td>
		<td>
		{condominium.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.street_number" />
		</td>
		<td>
		{condominium.streetNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.zip" />
		</td>
		<td>
		{condominium.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.city" />
		</td>
		<td>
		{condominium.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.lat" />
		</td>
		<td>
		{condominium.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.lng" />
		</td>
		<td>
		{condominium.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.images" />
		</td>
		<td>
				<f:for each="{condominium.images}" as="image" >
					<f:image src="{image.originalResource.publicUrl}" width="200"/>
				</f:for>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.public_transport_suburban_line" />
		</td>
		<td>
		{condominium.publicTransportSuburbanLine}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.public_transport_suburban_station" />
		</td>
		<td>
		{condominium.publicTransportSuburbanStation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.public_transport_metro_line" />
		</td>
		<td>
		{condominium.publicTransportMetroLine}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.public_transport_metro_station" />
		</td>
		<td>
		{condominium.publicTransportMetroStation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.public_transport_tram_line" />
		</td>
		<td>
		{condominium.publicTransportTramLine}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.public_transport_tram_station" />
		</td>
		<td>
		{condominium.publicTransportTramStation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.public_transport_bus_line" />
		</td>
		<td>
		{condominium.publicTransportBusLine}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.public_transport_bus_station" />
		</td>
		<td>
		{condominium.publicTransportBusStation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.description" />
		</td>
		<td>
		{condominium.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.modernisation" />
		</td>
		<td>
		{condominium.modernisation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.contents" />
		</td>
		<td>
		{condominium.contents}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_azgrrealestate_domain_model_condominium.furnishings" />
		</td>
		<td>
		{condominium.furnishings}
		</td>
	</tr>
</table>
</html>